lib/graph_tf_trainable/
lib/weights_old

lib/src/lfw_aligned/
lib/src/lfw_aligned_1/
lib/src/lfw_min/
lib/src/lfw_test/
lib/src/embedding_dict_60.pickle
lib/src/embeddings.npy
lib/src/face_embeddings.pickle
lib/src/face_embeddings_old.pickle
lib/src/embedding_dict.pickle
lib/src/data_160x160/
lib/src/data_test
.git/

logs/
.vscode/
.idea/